<script>
    $( window ).load(function() {   
       var t1 = new TimelineLite();
       t1.to('.shade1', 5, {fill:'#9B91FD'});
       t1.to('.shade2', 5, {fill:'#7669EF'},'-=5');
       t1.to('.shade1', 5, {fill:'#F75D8C'});
       t1.to('.shade2', 5, {fill:'#E0255E'},'-=5');
       t1.to('.shade1', 5, {fill:'#ABCE6F'});
       t1.to('.shade2', 5, {fill:'#92B851'},'-=5');   
    });
    
    function restartLine(position){
        tl.play(position);
    }
</script>
<script id="dsq-count-scr" src="//8ix.disqus.com/count.js" async></script>