<div id="logo">
    <img src="images/8ixgreen.png" alt="">
    <!--
    <img src="images/8ixgreen.png" alt="">
    <img src="images/8ixpink.png" alt="">
    <img src="images/8ixgreen.png" alt="">
    -->
</div>

<div class="connect">
    <a href="https://www.linkedin.com/in/andrewayardley" target="_blank" class="fa fa-linkedin-square"></a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="fa fa-rss-square"></a>
</div>

<div class="color_bar1"></div>
<div class="color_bar2"></div>

<div>
    <h1>{{ site.title }}</h1>
    <h2><i>BY ANDREW YARDLEY</i></h2>
</div>